# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:" ]]
then
    PATH="$HOME/.local/bin:$PATH"
fi
export PATH

# Default programs:
if [ -x "$(command -v nvim)" ];
then
    export EDITOR="nvim"
fi
if [ -x "$(command -v kitty)" ];
then
    export TERMINAL="kitty"
fi
if [ -x "$(command -v zathura)" ];
then
    export READER="zathura"
fi
if [ -x "$(command -v nwrap)" ];
then
    export FILE="nwrap"
fi
if [ -x "$(command -v firefox)" ];
then
    export BROWSER="firefox"
fi
export MANROFFOPT="-c"

# ~ Cleanup
export XDG_CONFIG_HOME=~/.config
export XDG_CACHE_HOME=~/.cache
export XDG_DATA_HOME=~/.local/share
export GEM_HOME="$XDG_DATA_HOME"/gem
export GEM_SPEC_CACHE="$XDG_CACHE_HOME"/gem
export BUNDLE_USER_CONFIG="$XDG_CONFIG_HOME"/bundle
export BUNDLE_USER_CACHE="$XDG_CACHE_HOME"/bundle 
export BUNDLE_USER_PLUGIN="$XDG_DATA_HOME"/bundle
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export MATHEMATICA_USERBASE="$XDG_CONFIG_HOME"/mathematica
export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export PYLINTHOME="$XDG_CACHE_HOME"/pylint
export LESSKEY="$XDG_CONFIG_HOME"/less/lesskey
export LESSHISTFILE="$XDG_CACHE_HOME"/less/history
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java
export GOPATH="$XDG_DATA_HOME"/go
export IPYTHONDIR="$XDG_CONFIG_HOME"/ipython
export NOTMUCH_CONFIG="$XDG_CONFIG_HOME"/notmuch/notmuchrc
export NMBGIT="$XDG_DATA_HOME"/notmuch/nmbug
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export ANDROID_PREFS_ROOT="$XDG_CONFIG_HOME"/android

if [ -d "$GOPATH/bin" ];
then
    export PATH="$GOPATH/bin:$PATH"
fi

if [ -d "$HOME/.cargo/bin" ];
then
    export PATH="$HOME/.cargo/bin:$PATH"
fi

export PYTHONBREAKPOINT=ipdb.set_trace
